<% layout('layout') -%>
<p>hola</p>
<% if(currentUser) { %>
<p>You are signed in</p>
<% } else {%>
<p>You're not signed in</p>
<% } %>
<div>
  <% messages.forEach((msg) => { %>
  <p><%= msg.content %></p>
  <p><%= msg.created_at_formatted %></p>
  <p><%= msg.author.fullname %></p>
  <% }) %>
</div>
